.App {
	text-align: center;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background-color: rgb(108, 174, 196);
}

.nav-links {
	width: 40%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

.selected {
	background-color: rgb(89, 170, 123);
	font-weight: bold;
}
