body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.light-block {
	background-color: #fffdd0;
	color: #000;
}

.dark-block {
	background-color: #333;
	color: #fff;
}

.block {
	margin: 20px;
	padding: 10px;
	border: 1px solid black;
	width: 400px;
}
