@import-normalize;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.App {
	/* display: flex;
	flex-direction: column;
	align-items: center; */
	display: grid;
	grid-template-columns: auto auto;
	margin: 5rem;
}

.App button {
	display: flex;
	align-items: center;
	margin: 10px;
	height: 40px;
	border-radius: 5px;
}

li.todoItem {
	list-style: none;
	margin: 0;
	padding: 0;
}
